/*  #pics {
 width: 610px;
 height: 385px;
 position: absolute;
 left: 30%;
 } */

  .slideshow{
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    /*left: 30%;
      overflow: hidden;
     height: 545px;
    width: 1425px; */
  }

  img {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
  }

  .slide {
    width: 100vw;
    height: 100vh;
    display: inline;
    float: left;
    position: absolute;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    repeat: none;
    background-position: center;
    /*border: 1px solid white;*/
  }

#one {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: black;
}

#nextButton {
  float: right;
  margin-top: 450px;
  margin-right: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 40px;
  text-decoration: none;
  background-color: blue;
  position: absolute;
  right: 0;
  z-index: 1;
}

#previousButton {
  float: left;
  margin-top: 450px;
  margin-left: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 40px;
  text-decoration: none;
  background-color: blue;
  position: absolute;
  z-index: 1;
}
